.strength-bar {
    width: 1rem;
    height: 2.5rem;
    border: 2px solid #d1d5db;
}

.strength-bar.too-weak {
    background-color: #ef4444;
    border: none;
}

.strength-bar.weak {
    background-color: #ef4444;
    border: none;
}

.strength-bar.medium {
    background-color: #f59e0b;
    border: none;
}

.strength-bar.strong {
    background-color: #10b981;
    border: none;
}
